<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Email</title>
</head>
<body>
    <div style="background-color:#f30100; width:645px; height:8px; margin: 5px;">.<div>
    	<div style="text-align:center; padding-top:20px;">
	    	<img src="http://www.onmax.com.br/_img/logo_onmaxfama.png" width="120">
	    	<h1 style="font-family: 'Calibri'; color: #666;">Obrigado por se inscrever!</h1>
	    </div>
	    <div style="margin: 10px; padding: 20px; border-style: solid; border-width: 1px; border-color: #ddd; font-family: 'Calibri'; font-size: 18px; color: #666;">

	    	<p>Olá <strong>NOME</strong>, </p>

			<p>Seja bem vindo(a) a <strong>On Max Fama</strong>.</p>

			<p>Está quase tudo pronto para você fazer parte da maior e melhor agência de modelos do Brasil.</p>

			<p>Basta usar o seu código para ter acesso à video aula com todo o conteúdo que vai lhe orientar na produção do seu material de apresentação pessoal.</p>

			<p>Acompanhe cada dica com atenção, pois na carreira de modelo, ter um material de apresentação bem produzido é um forte diferencial para quem deseja conquistar os melhores trabalhos.</p>

			<p>Obrigado.</p>

			<p>Link de Acesso<br/>
			<a href="http://maxfamaon/2323233????" style="color: #5980a1;">http://maxfamaon/2323233????</a></p>

			<p>Login:<br/>
			<span style="color: #5980a1;">modeloxyz@gmail.com</span></p>

			<p>Senha:<br/>
			<span style="color: #5980a1;">abcd1234</span></p>

	    </div>
	<div style="background-color:#f30100; width:645px; height:8px; margin: 5px;">.<div>
</body>
</html>